version: "3.3"

services:
  db:
    image: mysql:8.0.30
    environment:
      - MYSQL_DATABASE=merch
      - MYSQL_ROOT_PASSWORD=test123
    volumes:
      - merch-db:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - merch

networks:
  merch:

volumes:
  merch-db:
